# ==========================================
# PYTHON & DJANGO
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# ENTORNOS VIRTUALES Y VARIABLES SENSIBLES
# ==========================================
venv/
env/
.venv/
.env
*.env

# ==========================================
# BASES DE DATOS LOCALES (SEGURIDAD MÁXIMA)
# ==========================================
db.sqlite3
db_vieja.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal

# ==========================================
# CARPETAS DE PRUEBA / DESARROLLO
# ==========================================
pruebadatosreales/
pruebadatosreales

# ==========================================
# ARCHIVOS ESTÁTICOS Y MULTIMEDIA
# ==========================================
staticfiles/
media/

# ==========================================
# LOGS Y CACHÉ
# ==========================================
*.log
.pytest_cache/

# ==========================================
# SISTEMA OPERATIVO Y CONFIGURACIÓN DE IDEs
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/